<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='month_report.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Monthly Expense Report - {{ date_month_range }}</h1>
        
        <div class="table-container">
            <table class="report-table">
                <thead>
                    <tr>
                        {% for col in columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
{% for row in data %}
    {% if loop.index == (data|length - 1) %}
        <tr>
        {% for dt in row %}
            <td style="border-top: 2px solid black">{{ dt }}</td>
        {% endfor %}
        </tr>
    {% else %}
        <tr>
        {% for dt in row %}
            <td>{{ dt }}</td>
        {% endfor %}
        </tr>
    {% endif %}
{% endfor %}
                </tbody>
            </table>
        </div>

        <div class="graph-container">
            <div class="graph-row">
                <div class="sub-graph-container">
                    <h2 class="graph-title">Expense Distribution</h2>
                    <img src="data:image/png;base64,{{ expense_graph }}" alt="Expense Distribution">
                </div>
                <div class="sub-graph-container">
                    <h2 class="graph-title">Small Expense Distribution </h2>
                    <img src="data:image/png;base64,{{ count_graph }}" alt="Transaction Count">
                </div>
            </div>
            <div class="graph-row full-width">
                <div class="sub-graph-container">
                    <h2 class="graph-title">Trend Analysis</h2>
                    <img src="data:image/png;base64,{{ trend_graph }}" alt="Trend Analysis">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
